


<nav class="nav-container group" id="nav-footer">
				<!-- <div class="nav-toggle"><i class="fa fa-bars"></i></div> -->
	<div class="nav-text">2014 -- {{ config.year }} {{ config.author }} All Rights Reserved</div>
				<div class="nav-wrap"><ul id="menu-%e4%b8%bb%e8%8f%9c%e5%8d%95" class="nav container group">  
				{% if config.github %}
				<li id="menu-item-758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-758">
                                <p class="social-link"> <a class="github" href="{{ config.github }}" target="_blank"></a></p></li>
                                {% endif %}

				<li id="menu-item-758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-758"><a title="{{ config.author }}" href="/">2014 -- 
				{{ config.year }} {{ config.author }} All Rights Reserved</a></li>
				{% if config.github %}
							<li id="menu-item-758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-758">
                                <p class="social-link" style="margin-left: 10px;"> <a class="weibo" href="{{ config.weibo }}" target="_blank"></a></p></li>
                                 {% endif %}

</ul></div>
			</nav>

<section id="footer-bottom">
			<div class="container">
			
				<a id="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
				
<!--/.pad-->
				
			</div><!--/.container-->
		</section>
