
    <div id="page" class="container">
        <div class="main group">
            <section class="content">

                <div class="pad group">
  {% for post in posts %}              
    <article id="post-823" class="post-823 post type-post status-publish format-standard 
    
    {% if post.feature  %} format-image has-post-thumbnail {% endif %}

    hentry category-default tag-ssl group">

                        <h2 class="post-title pad">
                            <a href="{{ post.link }}" rel="bookmark"
                               title="{{ post.title }}">{{ post.title }}</a>
                        </h2><!--/.post-title-->

                        <ul class="post-meta pad group">
                         <li><i class="fa fa-tags"></i><a href="/tags" rel="category tag">标签:</a></li>
                        {% if post.tags %}
                            {% for tag in post.tags %}
                                <li><i class="fa fa-tags"></i><a href="/tags/{{ tag }}" rel="category tag">{{ tag }}</a></li>
                            {% endfor %}
                        {% endif %}
                        
                            <li><i class="fa fa-clock-o"></i>{{ post.date | date('Y-m-d') }}</li>
                          
                        </ul>
                        <!--/.post-meta-->

                        <div class="post-inner">
                        
{% if post.feature  %} 
                        <div class="post-format">
        <div class="image-container">
        <a href="{{post.link}}">
            <img width="800" height="376" src="{{post.feature}}" class="attachment-thumb-large wp-post-image" alt="{{post.title}}"> </a>      </div>
    </div>
     {% endif %} 

                            <div class="post-deco">
                                <div class="hex hex-small">
                                    <div class="hex-inner"><i class="fa"></i></div>
                                    <div class="corner-1"></div>
                                    <div class="corner-2"></div>
                                </div>
                            </div>
                            <!--/.post-deco-->

                            <div class="post-content pad">

                                <div class="entry">
                                    {{ post.intro|raw }}
                                    <p><a href="{{post.link}}"
                                          class="more-link">（更多&hellip;）</a></p>
                                </div>
                                <!--/.entry-->

                                <a class="more-link-custom" href="{{post.link}}" rel="bookmark"
                                   title="{{post.title}}"><span><i>更多</i></span></a>

                            </div>
                            <!--/.post-content-->

                        </div>
                        <!--/.post-inner-->

                    </article>

                    {% endfor %}
                    {% include 'include/paginator.html' %}

                        </div>
                    </div>
                    </div>

            {% include 'include/footer.html' %}

            </div>