{% extends 'base.html' %}
{% block title %}{{ post.title }} - {{ config.title }} {% endblock %}

{% block content %}

<div id="page" class="container">
		<div class="main group">
<section class="content">
	
	<div class="pad group">			
	
		
		<article class="post-543 post type-post status-publish format-standard {% if post.feature  %} format-image has-post-thumbnail {% endif %} has-post-thumbnail hentry category-default tag-php tag-23">
		
			<h1 class="post-title pad">{{ post.title }}</h1>
			
			<ul class="post-meta pad group">
			<li><i class="fa fa-tags"></i><a href="/tags" rel="category tag">标签:</a></li>
			 {% if post.tags %}
                        
                            
                            {% for tag in post.tags %}
                            <li><i class="fa fa-tags"></i><a href="/tags/{{ tag }}" rel="category tag">{{ tag }}</a>
							</li>
                                
                            {% endfor %}
                        
						
                    {% endif %}

			
				<li><i class="fa fa-clock-o"></i>{{ post.date | date('Y-m-d') }}</li>
				<!-- <li><a href="#comments"><i class="fa fa-comment"></i></a></li>			 -->
			</ul>
			<div class="post-inner">
				
				



	




				
				<div class="post-deco">
					<div class="hex hex-small">
						<div class="hex-inner"><i class="fa"></i></div>
						<a href="#"></a>						<div class="corner-1"></div>
						<div class="corner-2"></div>
					</div>
				</div><!--/.post-deco-->
				
				<div class="post-content pad">
				
					<div class="entry">
						{{ post.html|raw }}
											</div><!--/.entry-->
					
					<p class="post-tags"><span><a href="/tags">标签:</a></span> 

					    {% if post.tags %}
                        
                            
                            {% for tag in post.tags %}
                                <a href="/tags/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        
						</br>
                    {% endif %}
				
					</p>					
				</div><!--/.post-content-->
								
			</div><!--/.post-inner-->
			
		</article><!--/.post-->			
			
		
		
	

	</div><!--/.pad-->
<style type="text/css">

</style>

<!-- <div class="single-pagination clearfix">
	<div class="box clearfix">
 {% if prev_post %}
<a href="{{prev_post.link}}" class="nav-previous" style="float:left;">
<div class="bgfallback">&nbsp;</div>
<span>&nbsp;</span>
<div class="tab_icon tab_standard"><i class="fa fa-calendar"></i></div>
<div class="bgimage" ></div>
<h5><i class="icon-angle-double-left"></i> {{prev_post.title}}</h5>
</a>
 {% endif %}
 {% if next_post %}
<a href="{{next_post.link}}" class="nav-next" style="float:right;margin-top: -70px;">
<div class="bgfallback">&nbsp;</div>
<span>&nbsp;</span>
<div class="tab_icon tab_standard"><i class="fa fa-calendar"></i></div>
<div class="bgimage" ></div>
<h5>{{next_post.title}}<i class="icon-angle-double-right"></i></h5>
</a>
{% endif %}
</div>
</div> -->

 


<div class="entry"><blockquote class="quote"></blockquote></div>

	 {% include 'include/comments.html' %}
</section><!--/.content-->


		</div><!--/.main-->
	</div>
	{% include 'include/footer.html' %}
	{% endblock %}