/* 
Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. 

When you update your theme, backup this file and re-add it after.
*/

/* Global */
.mystyle {}
#header .site-title { font-family: "Microsoft Jhenghei"; }
#header .social-links { display: none; }
#footer-bottom #back-to-top:before { display: none; }
#footer-bottom #back-to-top:after { display: none; }
#footer-bottom #back-to-top { border-radius: 0 0 3px 3px; margin-top: -93px;}
#footer-widgets .widget>h3 { text-transform: capitalize; font-family: "Microsoft Jhenghei"; }

#header {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://me.hub.moe/static/header.jpg);
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://me.hub.moe/static/header.jpg);
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://me.hub.moe/static/header.jpg);
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://me.hub.moe/static/header.jpg);
    background-image:         linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://me.hub.moe/static/header.jpg);
    background-size: cover;
    background-position: center center;
}
#footer { background: #222 url(/static/footer.png) repeat; }
.entry blockquote { font-style: normal; }
.entry code { vertical-align: 2px; padding: 2px 3px; border-radius: 2px; }
.entry pre { white-space: pre; word-wrap: normal; }
.entry code, .entry pre { font-size: 12px; font-family: Monaco, Consolas, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; background: #eee;}
.post-title { font-weight: normal; }
.site-title { float: none; }
.site-title a img {
    max-height: none!important;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background: #FFF;
    box-shadow: rgba(255, 255, 255, 1) 0 0 0 5px, rgba(0, 0, 0, 1) 0 0 15px 5px;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    transition: transform 600ms;
}
.site-title a img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}
.site-description {
    float: none;
    padding: 0;
    display: block;
    text-align: center;
}
#commentform {
    border-bottom: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
hr, .hr { border-bottom: none; }
#header .pad { padding-top: 65px; padding-bottom: 50px; } /* 使用 header.jpg 后新增的语句 */
#footer .container { max-width: 960px; }
#nav-footer .nav>li>a { font-size: 16px; font-family: "Microsoft Jhenghei";font-style: italic; }
.page-title { border-bottom: none; }
.page .container{ max-width: 780px; }

.custom-links a {
    display: inline-block;
    padding: 2px 14px;
    margin: 3px;
    color: #e8554e;
    background-color: transparent;
    border: 1px solid #ddd;
    text-shadow: 0em 0em 0.01em rgba(232,85,78,0.6);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
.custom-links a:hover {
    color: #fff;
    background-color: #e8554e;
    border: 1px solid #e8554e;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    text-shadow: none;
}
.custom-links { list-style: none; }
.custom-links ul { margin: 0; }
.custom-links h3 { display: none; margin: 0; }
.custom-links  { float: left; margin-bottom: 1em; }

/* 复写 style.css 中的 @font-face */
@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-light-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-light-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-light-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-lightitalic-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-lightitalic-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-lightitalic-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-lightitalic-webfont.svg#ubuntulight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-regular-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-regular-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-regular-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-italic-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-italic-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-italic-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-italic-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-medium-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-medium-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-medium-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-mediumitalic-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-mediumitalic-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-mediumitalic-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-mediumitalic-webfont.svg#ubuntumedium_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
/*@font-face {
    font-family: 'Lato';
    src: url('//dn-font-family.qbox.me/ubuntu-bold-webfont.eot');
    src: url('//dn-font-family.qbox.me/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//dn-font-family.qbox.me/ubuntu-bold-webfont.woff') format('woff'),
         url('//dn-font-family.qbox.me/ubuntu-bold-webfont.ttf') format('truetype'),
         url('//dn-font-family.qbox.me/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
    font-weight: 900;
    font-style: normal;
}*/ /* 这么粗的字体用不到 */

/* Begin Dynamic CSS */
body { font-family: "Lato", Arial, "微软雅黑", sans-serif; }
.boxed #wrapper, .container { max-width: 860px; }




a,
.themeform label .required,
.post-title a:hover,
.post-meta a:hover,
.author-bio .bio-name a:hover,
.post-nav li a:hover span,
.post-nav li a:hover i,
.widget_rss ul li a,
.widget_calendar a,
.alx-tab .tab-item-category a,
.alx-posts .post-item-category a,
.alx-tab li:hover .tab-item-title a,
.alx-tab li:hover .tab-item-comment a,
.alx-posts li:hover .post-item-title a,
#footer .widget_rss ul li a,
#footer .widget_calendar a,
#footer .alx-tab .tab-item-category a,
#footer .alx-posts .post-item-category a,
.comment-tabs li.active a,
.comment-awaiting-moderation,
.child-menu a:hover,
.child-menu .current_page_item > a,
.wp-pagenavi a { color: #e8554e; }
.themeform input[type="submit"],
.themeform button[type="submit"],
.s1 .sidebar-toggle,
.more-link,
.post-tags a:hover,
.author-bio .bio-avatar:after,
.widget_calendar caption,
.commentlist li.bypostauthor > .comment-body:after,
.commentlist li.comment-author-admin > .comment-body:after { background-color: #e8554e; }
.alx-tabs-nav li.active a,
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current { border-bottom-color: #e8554e!important; }
.themeform input[type="text"]:focus, 
.themeform input[type="password"]:focus, 
.themeform input[type="email"]:focus, 
.themeform textarea:focus,
.comment-tabs li.active a { border-color: #e8554e; }                    
#header, .boxed #header { background-color: #3e464c; }
.site-title a img { max-height: 40px; }
.site-description { line-height: 40px; }            
body { background-color: #f9f9f9; }
/* End Dynamic CSS */




/* Tablet - 800px, 768px & 720px */
@media only screen and (min-width: 720px) and (max-width: 800px) {
    .mystyle {}
    #header .pad { padding-top: 45px; padding-bottom: 30px; } /* 使用 header.jpg 后新增的语句 */
    .entry code { vertical-align: 0; padding: 0 3px; border-radius: 0; }
}


/* Mobile - 480px & 320px */
@media only screen and (max-width: 719px) {
    .mystyle {}
    .site-title a img { max-height: none!important; }
    #header .pad { padding-top: 10px; padding-bottom: 0; } /* 使用 header.jpg 后新增的语句 */
    .entry code { vertical-align: 0; padding: 0 3px; border-radius: 0; }
}


/* Mobile - 320px */
@media only screen and (max-width: 479px) {
    .mystyle {}
}


#ds-thread #ds-reset .ds-powered-by, .ds-post-repost { display: none !important; } 
#ds-reset .ds-gradient-bg, #ds-thread #ds-reset .ds-textarea-wrapper { background: none !important; } 
#ds-reset .ds-like-thread-button, .ds-rounded{background: rgba(255,255,255,1) !important;  border: none !important;border-top: 2px solid rgba(0,39,59,.2) !important;border-bottom: 2px solid rgba(0,39,59,.2) !important; } 
#ds-reset .ds-sync{ display: none !important; } /* 隐藏评论框底部分享 */ 
#ds-thread #ds-reset .ds-post-button {height: 34px !important;background: #e8554e !important; box-shadow: none !important; border: 1px solid #e8554e !important; left: auto !important; /* 不必要的语句 */ color: #fff !important; font-weight: normal !important; outline: none; text-shadow:none !important;border-radius: 4px !important;width: 87px !important; } 
#ds-thread #ds-reset .ds-post-button:hover { color: #fff !important; } 
#ds-thread #ds-reset .ds-textarea-wrapper textarea { height: 54px !important; } 
#ds-thread #ds-reset li.ds-tab a, #ds-thread #ds-reset #ds-bubble, #ds-reset .ds-avatar img{border-radius: 1px !important; -webkit-border-radius: 1px !important; } 
#ds-thread #ds-reset li.ds-tab a:hover { background: #fff !important; } 
#ds-thread #ds-reset li.ds-tab a.ds-current{background: #fff !important; border: none !important; } 
#ds-thread #ds-reset .ds-post-self {padding-top: 15px !important; padding-bottom: 15px !important; } 
#ds-reset .ds-avatar img {width: 52px !important; height: 52px !important;box-shadow: none !important; border: 2px solid #fff !important; padding: 1px !important; border-radius: 50% !important; -webkit-border-radius: 50% !important;
    box-shadow: inset 0 -1px 0 #3333sf !important;;/*设置图像阴影效果*/
    -webkit-box-shadow: inset 0 -1px 0 #3333sf !important;;
    -webkit-transition: 0.6s !important;   
    -webkit-transition: -webkit-transform 0.6s ease-out !important;
    transition: transform 0.6s ease-out !important;/*变化时间设置为0.6秒(变化动作即为下面的图像旋转360读）*/
        -moz-transition: -moz-transform 0.6s ease-out !important; }
        #ds-reset .ds-avatar img:hover{/*设置鼠标悬浮在头像时的CSS样式*/
            box-shadow: 0 0 10px #fff !important; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1) !important;
            -webkit-box-shadow: 0 0 10px #fff !important; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1) !important;
            transform: rotateZ(360deg) !important;/*图像旋转360度*/
            -webkit-transform: rotateZ(360deg) !important;
                -moz-transform: rotateZ(360deg) !important;
               } 
#ds-reset .ds-replybox .ds-avatar img {width: 40px !important; height: 40px !important; } 
#ds-thread #ds-reset #ds-bubble {border: 1px solid #ddd !important; box-shadow: none !important; } 
#ds-thread #ds-reset .ds-replybox { padding-left: 70px !important; } 
#ds-thread #ds-reset .ds-post-self { padding-left: 0 !important; } 
#ds-thread #ds-reset .ds-inline-replybox {margin-top: 27px !important; margin-left: 0 !important; } 
#ds-thread #ds-reset a.ds-comment-context { padding: 2px 0 1px 3px !important; color: #e77064 !important; margin-right: 5px !important; border-radius: 1px !important; -webkit-border-radius: 1px !important; } 
#ds-thread #ds-reset li.ds-post-placeholder { padding: 20px 0 !important; } 
#ds-thread #ds-reset .ds-sync { top: 10px !important; } 
body #ds-smilies-tooltip ul.ds-smilies-tabs li a {background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#fff)); background-image: -webkit-linear-gradient(top,#fff,0%,#fff,100%); background-image: -moz-linear-gradient(top,#fff 0,#fff 100%); background-image: linear-gradient(to bottom,#fff 0,#fff 100%); border-bottom: 1px solid #e9e9e9; } 
body #ds-smilies-tooltip {border: 0 !important; box-shadow: 0 0 30px rgba(0,0,0,0.2) !important; } 
#ds-reset ul.ds-children .ds-avatar img {width: 35px !important; height: 35px !important; } 
#ds-thread #ds-reset .ds-comment-body p { margin: 10px !important; } 
#ds-reset button {background: #fff !important; box-shadow: 0 0 1px rgba(0,0,0,0.2) !important; border: 1px solid #ddd !important; } 
#ds-reset button:hover {background: #ddd !important; box-shadow: 0 0 1px rgba(0,0,0,0.2) !important; border: 1px solid #ddd !important; } 
#ds-thread #ds-reset .ds-user-name { color: #0c94de !important; } 
#ds-thread #ds-reset .ds-comment-header{ margin-left: 10px !important; } 
#ds-thread #ds-reset .ds-login-buttons .ds-more-services { color: #777 !important; } 
#ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover { color: #333 !important; } 
#ds-thread #ds-reset ul.ds-comments-tabs .ds-highlight { margin: 0 3px 0 0 !important; } 
#ds-thread #ds-reset .ds-time { margin-left: 10px !important; } 
#ds-thread.ds-narrow #ds-reset .ds-comments .ds-avatar img {width: 35px !important; height: 35px !important; } 
#ds-thread #ds-reset .ds-comment-body img { max-width: 50px !important; } /* 多说的复写语句，max-width 的值要与下一句的 width 和 height 的值相同 */ 
#ds-thread #ds-reset .ds-inline-replybox .ds-avatar img {width: 50px !important; height: 50px !important; } 
#ds-thread.ds-narrow #ds-reset .ds-comments .ds-inline-replybox .ds-avatar img {width: 50px !important; height: 50px !important; } 
#ds-thread #ds-reset .ds-textarea-wrapper {border: 2px solid rgba(0,39,59,.2) !important; border-radius: 4px !important; border-bottom: none !important; } 
#ds-thread #ds-reset .ds-post-options {border: 2px solid rgba(0,39,59,.2) !important; border-radius: 4px !important; border-bottom-color: rgba(0,39,59,.2) !important; border-right: none !important; } 
#ds-reset .ds-rounded-top {border-radius: 1px 1px 0 0 !important; -webkit-border-radius: 1px 1px 0 0 !important; } 
#ds-notify {border-radius: 2px !important; -webkit-border-radius: 2px !important; } /* 复写语句，放在后面 */
#ds-thread #ds-reset .ds-comment-body{
padding-left: 60px !important;
}
#ds-thread #ds-reset ul.ds-children .ds-comment-body {
padding-left: 40px !important;
}
#ds-thread #ds-reset .ds-login-buttons p {
display: none !important;
}
#ds-thread #ds-reset .ds-login-buttons .ds-social-links {

margin-left: 60px !important;
}
#ds-wrapper #ds-reset h2 {

display: none !important;
}
#ds-wrapper #ds-reset .ds-dialog-close {

bottom: 8px !important;
right: 11px !important;

width: 20px !important;
height: 16px !important;
}
#ds-reset .ds-avatar {

background-color: #f9f9f9 !important;
border-radius: 50% !important;

}


#ds-wrapper {
left: 5% !important;
right: 5% !important;
}



#ds-thread #ds-reset .ds-sort {

display: none !important;
}
#ds-thread #ds-reset li.ds-tab a {

font-size: 16px !important;
color: #017cb9 !important;
}
#ds-reset #ds-ctx .ds-ctx-entry {
padding: 14px !important;

}
#ds-wrapper #ds-reset .ds-dialog-footer {

display: none !important;
}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-body {
margin-left: 68px !important;
}
#ds-thread #ds-reset .ds-replybox {
margin-bottom: 20px !important;
}
blockquote.quote{
    color:#e8554e;
}
blockquote small {
display: block;
text-align: right;
}
h5{
margin: 10px 0;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}
.clearfix:before, .clearfix:after {
display: table;
content: "";
line-height: 0;
}
.box, .entry-container {
box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.box {
background: none repeat scroll 0 0 #FFFFFF;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border-radius: 2px 2px 2px 2px;
}

.single-pagination .box{
  width:100%;
  height: 70px;
  border-radius:2px;
}
.single-pagination a{
  position: relative;
  top: 0;
  height: 70px;
  width: 50%;
}
.single-pagination a.nav-previous{
  border-right:1px solid rgba(0,0,0,0.15);
}
.single-pagination a.nav-previous, .single-pagination a.nav-previous > span, .single-pagination a.nav-previous > .bgimage, .single-pagination a.nav-previous > .tab_icon, .single-pagination a.nav-previous > .bgfallback{
  left: 0;
  z-index: 1;
}
.single-pagination a.nav-next, .single-pagination a.nav-next > span, .single-pagination a.nav-next > .bgimage, .single-pagination a.nav-next > .tab_icon, .single-pagination a.nav-next > .bgfallback{
  right: 0;
  z-index: 1;
}
.single-pagination a.nav-next > span, .single-pagination a.nav-next > .bgimage, .single-pagination a.nav-next > .tab_icon, .single-pagination a.nav-next > .bgfallback{
  left:100%;
}
.single-pagination a > .bgfallback{
    background-color:#ffffff;
    position: absolute;
    top: 50%;  
    width: 88px;
    height: 88px;
    margin: -44px 0 0 -44px;
    border-radius: 500px;
}
.single-pagination a > span{
    width: 46px;
    height: 46px;
    display: block;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    background-size: 17px 25px;
    margin: -23px 0 0 -23px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.single-pagination a:hover > span{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50px;
    /*opacity: 0;*/
    margin: -50px 0 0 -50px;
    background-size: 22px 32px;
    background-color:#7eb66f;
}
.single-pagination a > .bgimage{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;  
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.single-pagination a:hover > .bgimage{
    width: 90px;
    height: 90px;
    background-size: 120% 120%;
    margin: -45px 0 0 -45px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}
.single-pagination a > .tab_icon{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: -45px 0 0 -45px;
    border-radius: 500px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.single-pagination a:hover > .tab_icon{
    width: 0px;
    height: 0px;
    margin: 0;
}
.single-pagination a > .tab_icon i{
  width: 100%;
  height: 100%;
  padding-top:25px;
  font-size:35px;
}
.single-pagination a:hover > .tab_icon i{
  padding-bottom:20px;
}
.single-pagination a.nav-previous h5{
    display: block;
    height: 50px;
    overflow: hidden;
    padding: 15px 15px 15px 60px;
    position: absolute;
    white-space: nowrap;
    width: 95%;
}
.single-pagination a.nav-next h5{
    display: block;
    height: 50px;
    overflow: hidden;
    padding: 15px 60px 15px 15px;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    
}
.single-pagenation a{
    color: #7eb66f;
}
.single-pagination a:hover{
    color: #7eb66f;

}
.tab_standard, .format-standard a.more-link, .format-standard a.more-link:hover {
background-color: #c2c2c2;
}
.fa-calendar:before {
color: #fff;
}
.container .left-col #header a {
color: #EFEFEF;
text-shadow: 0 1px #333;
}
justwriting-markdown-blogmedia="screen, projection"
#sub-nav .social a.github {
background: url('../images/social/github.png') center no-repeat #afb6ca;
border: 1px solid #afb6ca;
}

#menu-item-758 .social-link a {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
text-indent: -9999px;
margin: 0 10px 10px 0;
opacity: 0.5;
width: 28px;
height: 28px;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
#menu-item-758 .social-link a.github{
background: url('../images/social/github.png') center no-repeat #afb6ca;
border: 1px solid #afb6ca;
}
#menu-item-758 .social-link a.weibo{
background: url('https://assetcdn.500px.org/assets/v3/social/weibo-8e5dfa65c01ebac155773768c380f24b.svg') center no-repeat #afb6ca;
border: 1px solid #afb6ca;
-webkit-background-size: 28px 28px;
background-size: 28px 28px;
}

